html, body {
    height: 100%;
}

.animated-alert {
    -webkit-animation: tada 1s;
    animation: tada 1s
}

.animated-alert.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;

    /*this is here to avoid accidental CSS inheritance */
    -webkit-animation-duration:0s;
    animation-duration:0s;
}

.animated-warning {
    -webkit-animation: zoomIn 1s;
    animation: zoomIn 1s
}

.animated-warning.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;

    /*this is here to avoid accidental CSS inheritance */
    -webkit-animation-duration:0s;
    animation-duration:0s;
}

.animated-info {
    -webkit-animation: slideInLeft 1s;
    animation: slideInLeft 1s
}

.animated-info.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;

    /*this is here to avoid accidental CSS inheritance */
    -webkit-animation-duration:0s;
    animation-duration:0s;
}

.logo-image {
    margin-top: 50px;
    width:540px; /* you can use % */
    height: auto;

}

.top-gap {
    margin-top: 20px;
}

.text-white {
    color: white;
    font-size: 20px;
}

.text-bold {
    font-weight: bold;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.wrapper {
    min-height:100%;
    position:relative;
    padding-bottom: 100px;
}

.footer {
    width:100%;
    height: 100px;
    left: 0;
    margin: -100px auto 0;
    text-align: right;
}

/*.image-background {
    background: url('../images/puerto_blur.jpg') no-repeat fixed center;
    background-size: cover;
}*/

.vertical-center {

    height: 60vh !important; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    /*width: 100%;*/

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}


@media (min-width:768px) { /* don't break navbar on small screen */
    .navbar-right {
        text-align: right !important;
    }

    .navbar-clock {
        width: 100%;
    }

    .navbar-center {
        width: 100%;
        text-align: center;
    }
}