<div class="container-fluid">

    <div class="page-header"></div>

    <div ng-show="filterNotifications == '' || filterNotifications == 'alert'" ng-repeat="alert in notifications.alerts | orderBy:'+':true">
        <div class="panel panel-danger animated-alert col-lg-12">
            <div class="panel-heading row">
                <div class="col-lg-10">Alarma - Sistema {{ alert.system }}</div><div class="col-lg-2 text-right right">{{ alert.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}</div> </div>
            <div class="panel-body">
                <p>{{ alert.data }}</p>
            </div>
        </div>
    </div>

    <div ng-show="filterNotifications == '' || filterNotifications == 'warning'" ng-repeat="warning in notifications.warnings | orderBy:'+':true">
        <div class="panel panel-warning animated-warning col-lg-12">
            <div class="panel-heading row">
                <div class="col-lg-10">Alerta - Sistema {{ warning.system }}</div> <div class="col-lg-2 text-right right">{{ warning.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}</div> </div>
            <div class="panel-body">
                <p>{{ warning.data }}</p>
            </div>
        </div>
    </div>

    <div ng-show="filterNotifications == '' || filterNotifications == 'info'" ng-repeat="info in notifications.infos | orderBy:'+':true">
        <div class="panel panel-info animated-info col-lg-12">
            <div class="panel-heading row">
                <div class="col-lg-10">Aviso - Sistema {{ info.system }}</div> <div class="col-lg-2 text-right right">{{ info.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}</div> </div>
            <div class="panel-body">
                <p>{{ info.data }}</p>
            </div>
        </div>
    </div>

</div>